
@media (max-width: 1100px)  {
  .random-language {
    width: 250px;
  }

  .quote-space {
    width: 250px;
  }
}

html {
  background-color: rgba(200,200,200,1);
  height: 85%;
  width: 85%;
  margin: 10% auto;
}

.content {

}

.content{
  text-align: center;
  vertical-align: middle;  
}

.titles{
  background-color: green;
}

h2 {
  color: black;
  font-family: times;
  font-size: 2em;
}

.weather-dock {
  background-color: orange;
}

/*City form*/
#city-form {
  margin: 0 auto;
}

input {
  font-size: 1.25em;
}

#sky-icon {
  margin: 1.75% auto;
}

