
/* fix things when they are in smaller screen with media query */

@media (max-width: 950px) and (min-width: 300px) {


}

* {
  box-sizing:border-box;
  transition:.25s ease-in-out;
}

html {
  height: 85%;
  width: 85%;
  margin: 10% auto;
}

body {
  font-family: 'Roboto Mono',helvetica,arial,sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.wrapper {
  width: 650px;
  text-align: center;
  vertical-align: middle;  
}


#heading-title {
  font-size: 5em;
  padding-bottom: 50px;
}


#weather-dock {
  padding-top: 1%;
  padding-bottom: 10%;
}

ul {
  list-style-type: none;
}

/*City form, wrapper around the search field + mesurements toggle*/
#city-form {

}

#city-name {
  color: black;
  background-color: white;
  height: 15.5%;
  width: 75%;
  border-radius: 5px;  
  margin-bottom: 5%;
}

#city-name:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(49, 79, 111, 0.2);
}

#submit{
  position: relative;
  color: black;
  background-color: #C0C0C0;
  padding: 20px;
  top: 4px;
  border-radius: 5px;
}

#submit:hover{
  background-color: rgba(255,215,0,0.9);
  color: rgba(255,250,250,1);
}

/* This is the text inside the search field */
input {
  font-size: 1.25em;
}

#search-space-wrapper {
  width: 95%;
  display: inline-block;
  position: relative;
}

/* fix classes and jquery */
#measurement {
  position: relative;
  margin: 0 auto;
  top: 30;
  left: 65;
}

/*Custom Flipswitch on/off*/
.flip-switch-container {

}

.slider {
  height: 50px;
  width: 400px;
  border-radius: 2.5px;
  background-color: #ccc;
  display: inline-block;
  top: -45px;
  left: 30px;
  position: absolute;
  z-index: 1;
}

.flipswitch {
  height: 50px;
  width: 230px;
  border-radius: 2.5px;
  background-color: black;
  color: #e8dad5;
  display: inline-block;
  position: absolute;
  left: 0;
  z-index: 2;
  color: white;
  font-size: 1em;
  font-family: 'Roboto Mono',helvetica,arial,sans-serif;
  text-align: center;
  line-height: 350%;
}

#weather-dock {
  margin-top: 10%;
  font-size: 1.5em;
  line-height: 200%;
  width: 550px;
}

.weather-dock-line {

}

.weather-icon {
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-left: 225px;
  font-size: 1.5em;
}

.data {
  display: inline-block;
  margin-right: 150px;
}

#humidity {
  margin-right: 185px;
}

#sky {
  margin-right: 195px;
}

#wind{
  margin-right: 140px;
}
